/*-----------------------------------------------General---------------------------------------------*/ 

.left-div,
.right-div {
  display: flex;
  height: 100vh;
  width: 50vw;
}

.right-top,
.right-bottom,
.left-top,
.left-bottom {
  display: flex;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

/*-----------------------------------------------Main Content---------------------------------------------*/ 
.main-div {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

/*-----------------------------------------------Left Content---------------------------------------------*/ 
.left-div {
  flex-direction: column;
  gap: 2rem;
}

.left-top {
  background-color: #252A34;
  height: 50vh;
}

.left-bottom {
  background-color: #FF2E63;
  height: 50vh;
}


/*-----------------------------------------------Right Content---------------------------------------------*/ 
.right-div {
  flex-direction: column;
  gap: 2rem;
  
 
}

.right-top {
  height: 70vh;
  background-color: #08D9D6;
}

.product-div {
  display: flex;
  background-color: #EAEAEA;
  border-radius: 1rem;
  width: 100%;
  height: 20%;
}

.right-bottom {
  height: 30vh;
  background-color: #FF2E63;
}