body {
  background: rgb(37,42,52);
  background: linear-gradient(180deg, rgba(37,42,52,1) 0%, rgba(8,217,214,1) 100%);
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, Arial;
  margin: 0rem;
}

p {
  font-family: Source Sans 3, Arial;
  margin: 0rem;
}

.navbar-color {
  display: flex;
  background-color: #252A34;
  color: #EAEAEA;
  padding: 1rem;
  margin: 0rem;
  justify-content: space-between;
}

.heading {
  margin: 0rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
}